<table *ngIf="getStdArray.length >0; else nostd" class="table table-bordered">
    <thead>
        <tr>
            <th>Sr.NO</th>
            <th>fname</th>
            <th>lname</th>
            <th>email</th>
            <th>contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of getStdArray; index as i">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
        </tr>
    </tbody>
</table>

<ng-template #nostd>
    <p class="bg-dark p-2 text-white text-center text-capitalize">no student is available in studentlist!!!</p>
</ng-template>
